POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_DB=ecommerce
POSTGRES_PORT=5432

DB_HOST=localhost
DB_PORT=5432
DB_USER=ecommerce
DB_PASSWORD=ecommerce
DB_NAME=ecommerce

PORT=3001
VECTOR_DIM=14